<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209024763157-itb0aj44vl2rsolj7b904ffnjqeherce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209024763157-itb0aj44vl2rsolj7b904ffnjqeherce</string>
	<key>API_KEY</key>
	<string>AIzaSyDfNZUfkSDhAolSrnfsdwhmOU6Im9FNP8g</string>
	<key>GCM_SENDER_ID</key>
	<string>209024763157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.entitleGuard.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>entitle-guard-4c857</string>
	<key>STORAGE_BUCKET</key>
	<string>entitle-guard-4c857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209024763157:ios:082bf7ffc162b9011cd51c</string>
</dict>
</plist>